/* 弹窗样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  

  /*tr标签鼠标划过变色*/
  tr:hover {
    background-color:darkorange;
  }
  /*input button 标签鼠标划过变色*/
  .hover-color:hover{
    background-color:crimson;
    color: #fff;
  }
  