<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>漏洞扫描</title>
  <link type="text/css" href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='css/style3.css') }}" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for( 'static',filename='js/jquery-3.3.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for( 'static',filename='js/quanfanxuan.js') }}"></script>
  <script type="text/javascript" src="{{ url_for( 'static',filename='js/dirsearchcommon.js') }}"></script>
  <meta name="robots" content="noindex,follow" />


  <style>
    .hidden {
      display: none;
    }
  </style>

  <script>

    $(function () {

      goPage(1, 10);
      var tempOption = "";
      for (var i = 1; i <= totalPage; i++) {
        tempOption += '<option value=' + i + '>' + i + '</option>'
      }
      $("#jumpWhere").html(tempOption);
    })


    var pageSize = 0;//每页显示行数
    var currentPage_ = 1;//当前页全局变量，用于跳转时判断是否在相同页，在就不跳，否则跳转。
    var totalPage;//总页数
    function goPage(pno, psize) {
      var itable = document.getElementById("adminTbody");
      var num = itable.rows.length;//表格所有行数(所有记录数)

      pageSize = psize;//每页显示行数
      //总共分几页 
      if (num / pageSize > parseInt(num / pageSize)) {
        totalPage = parseInt(num / pageSize) + 1;
      } else {
        totalPage = parseInt(num / pageSize);
      }
      var currentPage = pno;//当前页数
      currentPage_ = currentPage;
      var startRow = (currentPage - 1) * pageSize + 1;
      var endRow = currentPage * pageSize;
      endRow = (endRow > num) ? num : endRow;

      $("#adminTbody tr").hide();
      for (var i = startRow - 1; i < endRow; i++) {
        $("#adminTbody tr").eq(i).show();
      }
      var tempStr = "共" + num + "条记录 分" + totalPage + "页 当前第" + currentPage + "页";
      document.getElementById("barcon1").innerHTML = tempStr;

      if (currentPage > 1) {
        $("#firstPage").on("click", function () {
          goPage(1, psize);
        }).removeClass("ban");
        $("#prePage").on("click", function () {
          goPage(currentPage - 1, psize);
        }).removeClass("ban");
      } else {
        $("#firstPage").off("click").addClass("ban");
        $("#prePage").off("click").addClass("ban");
      }

      if (currentPage < totalPage) {
        $("#nextPage").on("click", function () {
          goPage(currentPage + 1, psize);
        }).removeClass("ban")
        $("#lastPage").on("click", function () {
          goPage(totalPage, psize);
        }).removeClass("ban")
      } else {
        $("#nextPage").off("click").addClass("ban");
        $("#lastPage").off("click").addClass("ban");
      }

      $("#jumpWhere").val(currentPage);
    }


    function jumpPage() {
      var num = parseInt($("#jumpWhere").val());
      if (num != currentPage_) {
        goPage(num, pageSize);
      }
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="login">
      <p>&nbsp;<strong>文件扩展名</strong>&nbsp;&nbsp;<select name="filename">
          <option value="php,aspx,jsp,html,js">all</option>
          <option value="php">php</option>
          <option value="jsp">jsp</option>
          <option value="aspx">aspx</option>
          <option value="html">html</option>
          <option value="js">js</option>
        </select>

        &nbsp;&nbsp;
        <strong>线程数</strong>&nbsp;&nbsp;<select name="thread">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
        &nbsp;&nbsp;
        <strong>状态码</strong>&nbsp;&nbsp;
        <select name="statuscode">
          <option value="200">200</option>
          <option value="301">301</option>
          <option value="302">302</option>
          <option value="404">404</option>
          <option value="403">403</option>
          <option value="500">500</option>
          <option value="502">502</option>
          <option value="200,301,302,403,404,500,502">all</option>
        </select>
        &nbsp;&nbsp;
        <strong>递归级别</strong>&nbsp;&nbsp;<select name="level">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        &nbsp;&nbsp;
        <strong>字典</strong>&nbsp;&nbsp;<select name="dict">
          <option value="/TIP/info_scan/dirsearch/db/Unauthorizedset.txt">未授权访问字典</option>
          <option value="/TIP/info_scan/dirsearch/db/dicc.txt">默认字典</option>
          <option value="/TIP/info_scan/dirsearch/db/Arbitrary_file_reading">GlassFish任意文件读取漏洞</option>
          <option value="/TIP/info_scan/dirsearch/db/mobile_xinxigang.txt">中国移动信息港Actuator组件</option>
          <option value="/TIP/info_scan/dirsearch/db/swagger.txt">Spring Boot Actuator未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/Hadoop.txt">Hadoop未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/Druid.txt">Druid未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/Elasticsearch.txt">Elasticsearch未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/jboss.txt">JBoss未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/Jenkins.txt">Jenkins未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/kibana.txt">kibana未授权访问</option>
          <option value="/TIP/info_scan/dirsearch/db/solr.txt">solr未授权访问</option>
        </select>
      </p>

      <table class="table table-bordered">

        <tr>
          <td style="display:none;" id="blacklistshowid">
            <!--黑名单查看-->

            <strong>扫描前黑名单</strong>&nbsp;&nbsp;
            <select id="opbyid6" onclick="opbyid6func()">
              <option value="">--请选择--</option>
            </select>

            <input type="text" name="beforeblackname" required="required" value="" placeholder="删除扫描前黑名单" id="input6">
            <input type="button" name="commit" value="删除" onclick="deletedirsearcscanbeforehblackbynamefunc()"><br>

            <strong>扫描后黑名单</strong>&nbsp;&nbsp;
            <select id="opbyid3" onclick="opbyid3func()">
              <option value="">--请选择--</option>
            </select>
            <input type="text" name="blackname" required="required" value="" placeholder="删除扫描后黑名单" id="input1">
            <input type="button" name="commit" value="删除" onclick="deletedirsearchblackbynamefunc()">
            <input type="button" name="commit" value="返回" onclick="blacklistshowlistfunc()">

          </td>

          <td style="display:none;" id="blacklistshowid1">
            <font color="red" id="scanbeforefontid"></font><br>
            <font color="red" id="scanafterfontid"></font>
          </td>


          <td style="display:none;" id="Whitelistshowid">
            <input type="text" name="keyvalue1" value="" required="required" placeholder="添加白名单">
            <input type="button" name="commit" value="提交" onclick="filterdirsearchdatabywhitefunc()">
            <select id="opbyid4" onclick="opbyid4func()">
              <option>--请选择--</option>
            </select>

            <input type="text" name="whitename" required="required" value="" placeholder="删除白名单" id="input2">
            <input type="button" name="commit" value="删除" onclick="deletedirsearchwhitebynamefunc()">
            <input type="button" name="commit" value="返回" onclick="Whitelistshowlistfunc()">
          </td>
        </tr>
        </tr>
        <tr>
          <td>
            <strong>扫描开关</strong>&nbsp;&nbsp;
            <input type="button" class="hover-color" name="commit" value="开始扫描" onclick="dirsearchscanfunc()">
            <input type="button" class="hover-color" name="commit" value="关闭扫描" onclick="dirsearchkillfunc()">
           
          </td>

          <td>  
            <strong>数据操作</strong>&nbsp;&nbsp;
            <input type="button" class="hover-color" name="commit" value="原始数据删除" onclick="origindataclearfunc()">
            <input type="button" class="hover-color" name="commit" value="列表删除" onclick="cleardirvulmaptargetfunc()">
          </td>
          
        </tr>
        <tr>
          <td>
            <strong>数据查看</strong>&nbsp;&nbsp;
            <input type="button" class="hover-color" name="commit" value="黑名单查询" onclick="blacklistshowfunc()">
            <input type="button" class="hover-color" name="commit" value="白名单查询" onclick="Whitelistshowfunc()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <strong>报告过滤</strong>&nbsp;&nbsp;
            <input type="button" class="hover-color" name="commit" value="原始数据同步" onclick="dirsearchcopyfilefunc()">
            <input type="button" class="hover-color" name="commit" value="黑名单同步"   onclick="flushdirsearchdatafunc()">
            <input type="button" class="hover-color" name="commit" value="白名单同步"   onclick="flushdirsearchdatabywhitefunc()">
          </td>
        </tr>
        <tr>
          <td>
            <strong>批量添加</strong>&nbsp;&nbsp;
            <input type="button" class="hover-color" name="commit" value="扫描前黑名单" onclick="scanbeforebatchinsert()">
            <input type="button" class="hover-color" name="commit" value="扫描后黑名单" onclick="scanafterbatchinsert()">
          </td>
          <td>
            <strong>报告阈值</strong>&nbsp;&nbsp;
            <select name="thresholdname">
              <option value="1">过滤出现超过1次的网址</option>
              <option value="2">过滤出现超过2次的网址</option>
              <option value="3">过滤出现超过3次的网址</option>
              <option value="4">过滤出现超过4次的网址</option>
              <option value="5">过滤出现超过5次的网址</option>
              <option value="6">过滤出现超过6次的网址</option>
              <option value="7">过滤出现超过7次的网址</option>
              <option value="8">过滤出现超过8次的网址</option>
              <option value="9">过滤出现超过9次的网址</option>
              <option value="10">过滤出现超过10次的网址</option>
            </select>
            <input type="button" class="hover-color" name="commit" value="过滤" onclick="thresholdvaluefunc()">

          </td>

          <td>


          </td>
        </tr>
        <tr>
          <td>


         

          </td>
          <td>

          </td>
        </tr>

        </td>

        </tr>




        {% for g in data6 %}
        <tr>
          <td>{{g[0]}}</td>
          <td><a href="#" style='text-decoration:none;' onclick="deletedirfunc('{{ g[1] }}')">删除</a></td>
        </tr>
        {% endfor %}

        <tr>
          <td>
            <span>{{data7}}</span><br>
            <span>{{data13}}</span> <br>
            <span>{{data18}}</span>
          </td>

          <td>
           
            文件清洗服务运行状态:&nbsp;&nbsp;
            <font color="red">
              {{data20}}
            </font>

          </td>
        </tr>

        <tr id="aaa">
          <td>
            目录列表
            <button onclick="selectAll()">全选</button>
            <button onclick="reverseSelection()">反选</button>
          </td>
          <td>操作选项</td>
        </tr>

        <tbody id="adminTbody">
          {% for i in data %}
          <tr>
            <td>
              <input type="checkbox" name="checkbox" value="{{i}}">&nbsp;&nbsp;
              {{i}}
            </td>



            <td>
              <a href="####" class="hover-color" style='text-decoration:none;'
                onclick="primitivereportfunc('{{i}}')">访问原始网址</a>
              &nbsp;&nbsp;
              <a href="####" class="hover-color" style='text-decoration:none;'
                onclick="generatereportfunc('{{i}}')">访问漏洞网址</a>
              &nbsp;&nbsp;
              <a href="####" class="hover-color" style='text-decoration:none;'
                onclick="beforeblacklistaddition('{{i}}')">扫描前黑名单添加</a>
              &nbsp;&nbsp;
              <a href="####" class="hover-color" style='text-decoration:none;'
                onclick="blacklistaddition('{{i}}')">扫描后黑名单添加</a>
              &nbsp;&nbsp;
              <a href="####" class="hover-color" style='text-decoration:none;'
                onclick="primitivereportfunc1('{{i}}')">原始数据备案信息</a>
            </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>

      <table class="table table-bordered" style="display:none;" id="tab1">

        {% for j in data09 %}

        <tr>
          <td>
            {{j}}
          </td>

        </tr>

        {% endfor %}
      </table>



    </div>


    <div id="barcon" class="barcon">
      <div id="barcon1" class="barcon1"></div>
      <div id="barcon2" class="barcon2">
        <ul>
          <li><a href="###" id="firstPage">首页</a></li>
          <li><a href="###" id="prePage">上一页</a></li>
          <li><a href="###" id="nextPage">下一页</a></li>
          <li><a href="###" id="lastPage">尾页</a></li>
          <li><select id="jumpWhere">
            </select></li>
          <li><a href="###" id="jumpPage" οnclick="jumpPage()">跳转</a></li>
        </ul>
      </div>
    </div>


    <div class="login-help">
    </div>
  </div>
  <div style="text-align:center;clear:both">
  </div>
</body>

</html>