<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <title>IP信息收集</title>
  <script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
  <style type="text/css">

  </style>
</head>

<body>
  <div id="Layer1" style="position:absolute; width:1000px; height:628px; z-index:1; left: 0px; top: 0px;">
    <div align="center">
      <p>&nbsp;</p>

      <p><img src="{{ url_for( 'static',filename='ico/1.gif') }}" width="700" height="1000" border="0" usemap="#Map2">
        <map name="Map2">
          <area shape="rect" coords="596,90,675,122" href="home.htm" target="main1" alt="home">
        </map>
        <map name="Map">
          <area shape="rect" coords="18,196,60,220" href="home.htm" target="main1" alt="home">
        </map>
      </p>
    </div>
  </div>

  <div id="Layer2" style="position:absolute; width:566px; height:350px; z-index:2; left: 173px; top: 124px;">
    <br><br><br><br><br>
    <p>
      <strong>IP:</strong>&nbsp;{{data2}}&nbsp;（{{data5}}）<br>
      <strong>操作系统:</strong>&nbsp;{{data8}}<br>
      <strong>端口: </strong>&nbsp;{{data6}}<br>
      <strong>公司:</strong>&nbsp;{{data4}}<br>
      <strong>历史域名: </strong>
      {% for kk in data7 %}
      <tr>
        <br>
        <td>{{ kk }}</td>
      </tr>
      {% endfor %}<br>
      <strong>域名:</strong>
      {% for ii in data1 %}
      <tr>
        <br>
        <td>{{ ii }}</td>
      </tr>
      {% endfor %}<br>

      <strong>网站标题:</strong>
      {% for i10 in data10 %}
      <tr>
        <br>
        <td>{{ i10 }}</td>
      </tr>
      {% endfor %}<br>

      <strong>CDN信息:</strong>
      {% for ii9 in data9 %}
      <tr>
        &nbsp;
        <td>{{ ii9 }}</td>
      </tr>
      {% endfor %}<br>
      <strong>指纹: </strong>
      {% for i in data3 %}
      <tr>
        <br>
        <td>{{ i }}</td>
      </tr>
      {% endfor %}
    </p>
  </div>
</body>

</html>