<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>子系统登录</title>

<link type="text/css" href="{{ url_for('static', filename='css/sublogin.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for( 'static',filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for( 'static',filename='js/dirsearchcommon.js') }}"></script>

</head>
<body>

	<div style="height:30px;"></div>

	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked=""><label for="tab-1" class="tab">子系统登录</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
			<div class="login-form">
			
				<div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">用户名</label>
						<input id="user1" type="text" class="input" required="required" name="username">
					</div>
					<div class="group">
						<label for="pass" class="label">密码</label>
						<input id="pass1" type="password" class="input" data-type="password" required="required" name="password">
						<span>{{data1}}</span>
					</div>
					
					<div class="group">
						<input type="submit" class="button" value="登录" onclick="sublogin_interface_func()">
					</div>
					<div class="hr"></div>
				</div>
			
			</div>
		</div>
	</div>


</body>
</html>