<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for( 'static',filename='js/common.js') }}"></script>
    <title>URL路径去重</title>
    <style>
        #output {
            margin-top: 20px;
        }
    </style>
</head>
<body>
   
    <label for="urlInput">粘贴URL：</label>
    <textarea id="urlInput" rows="4" cols="50"></textarea>
    <button onclick="processURLs()">处理URL</button>

    <h2>输出结果：</h2>
    <div id="output"></div>
</body>
</html>